@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 4rem;
}

.infinite-scroll-container:hover ul {
  animation-play-state: paused;
}
